body {
    background-color: black;
    color: white;
    font-family: Helvetica;
    font-size: 22px;
    padding: 20px;
}

h1 {
    color: yellow; /* rgb value */
    text-align: center;
}

.big_div {
    border: 3px solid #2E549B; /* hex value */
    margin: 30px;
    padding: 20px;

}

.pokemon_name {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    margin: 10px;
}

.sub_div {
    display: flex;
    font-size: 30px;
}

img {
    width: 300px;
    padding-right: 50px;
}

#special {
    font-weight: bold;
    color: yellow; /* rgb value */
}